.one {
    display: inline-block;
    border: 2px solid red;
    padding: 20px;
}

.two {
    display: inline-block;
    border: 2px solid red;
    margin: 20px;
    padding: 20px;
}
.three{
    border: 2px solid red;
    margin: 20px;
    padding: 20px;
    display: none;
}