
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.mainOne {
    background-image: url("./assets/images/bg_img\ Main.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* width: 100vw; */
}

.optDiv {
    background-color: black;
    opacity: 0.4;
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 0%;
}

.top img {
    width: 8vw;
    position: relative;
    z-index: 10;
}

.db {
    position: relative;
    z-index: 10;
    border-radius: 10px;
    background-color: #e50914;
    color: white;
    font-weight: bold;
    padding: 8px 10px;
    font-family: "Poppins", sans-serif;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    width: 70vw;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

span {
    color: white;
    font-weight: bold;
    position: relative;
    z-index: 10;
    padding: 10px;
    text-align: center;
}

.one {
    font-size: 3.5em;
}

.two,
.three {
    font-size: 1.4em;
}

input {
    padding-left: 10px;
    height: 7vh;
    position: relative;
    z-index: 10;
    background-color: rgba(22, 22, 22, 0.7);
    border: 1px solid white;
    margin: 2px;
}

.field1 {
    width: 25vw;
}

.field1:focus {
    color: white;
}

.dash {
    height: 10px;
    background-color: #232323;
}

::placeholder {
    color: white;
}

.sbtBtn {
    background-color: #e50914;
    /* width: 13vw; */
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 5px;
    text-align: center;
}

.firstSec {
    display: flex;
    background-color: #000;
    max-width: 100vw;
    margin: auto;
    justify-content: center;
    margin: 30px 0px 60px 0px;
    flex-wrap: wrap;
}

.text {
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    width: 34vw;
    /* width: 50%; */
    /* align-items: center; */
    /* padding-left: 10%; */
}

.text h1 {
    font-size: 2.5em;
}

.text p {
    /* width: 70%; */
    margin-top: 10px;
    line-height: 1.7;
    font-size: 18px;
}

.im {
    position: relative;
}

.tv{
    /* width: 500px; */
    width: 35vw;
    position: relative;
    padding-top: 20px;
    z-index: 10;
}

.mob{
    /* width: 500px; */
    width: 35vw;
    position: relative;
    padding-top: 20px;
    z-index: 10;
}

.im video {
    position: absolute;
    right: 40px;
    top: 80px;
    width: 28vw;
    /* width: 400px; */
}

.text1 {
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    /* align-items: center; */
    /* padding-left: 10%; */
}

.text1 h1 {
    font-size: 3em;
}

.text1 p {
    width: 70%;
    margin-top: 10px;
    line-height: 1.7;
}

.gif {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #232323;
    gap: 20px;
    padding-top: 20px;
    padding: 10px;
    width: 21vw;
    position: relative;
    z-index: 10;
    transform: translateY(-90px) translateX(150px);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;

}

.stranger {
    width: 10%;
    height: 10%;
}

.insider h3,
p {
    color: white;
    font-size: 16px;
}

.myGif {
    width: 20%;
    height: 20%;
    padding-left: 20px;
}

.second {
    height: 45vh;
    align-items: center;
    display: flex;
    /* justify-content: center; */
}

.everyWhere {
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    width: 22vw;
    margin-left: 25%;
}

.everyWhere h1,
h2,
p {
    padding: 3px;
}

.everyWhere h1,
h2 {
    font-size: 2.5em;
}

.everyWhere p {
    font-size: 20px;
}

.text2 {
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    /* align-items: center; */
    /* padding-left: 10%; */
}

.text2 h1 {
    font-size: 3em;
}

.text2 p {
    /* width: 75%; */
    font-size: 22px;
    margin-top: 10px;
}

.thirdSec {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    max-width: 100%;
    margin: auto;
    padding-bottom: 30px; 
}
.im1 {
    position: relative;
    margin-top: 40px;
}

.mob1 {
    width: 40vw;
    position: relative;
    z-index: 10;
}
.faqHead h1{
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 2.5em;
    padding-bottom: 20px;
}
.faq{
    /* height: 100vh; */
    margin-bottom: 2%;
    padding-bottom: 2%;
}
.faqCont{
    max-width: 70vw;
    margin: 0 auto;
}
.cont1, .cont2,.cont3,.cont4,.cont5,.cont6{
    background-color: #2d2d2d;
    margin: 15px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faqCont  :nth-child(1):hover{
    background-color: #414141;
    cursor: pointer;
}
.faqCont  :nth-child(2):hover{
    background-color: #414141;
    cursor: pointer;
}.faqCont  :nth-child(3):hover{
    background-color: #414141;
    cursor: pointer;
}.faqCont  :nth-child(4):hover{
    background-color: #414141;
    cursor: pointer;
}.faqCont  :nth-child(5):hover{
    background-color: #414141;
    cursor: pointer;
}.faqCont  :nth-child(6):hover{
    background-color: #414141;
    cursor: pointer;
}
.faqFoo p{
    margin-top: 15px;
    padding-top: 20px;
    font-size: 18px;
}
.faqFoo{
    text-align: center;
}
.inpt1{
    margin-top: 5px;
    padding: 5px;
}
.end{
    color: white;
    max-width: 70vw;
    margin: 0 auto;
    padding: 50px;
   

}
.ele{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(7,1fr);
    gap: 5px;
}
.item1, .item17{
    grid-column: 1/5;
}
.brg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    border: 2px solid white;
    background-color: #0f0f0f;
    
}
button{
    background-color: #000;
    color: white;
}
.item16{
    grid-column: 3/5;
}
a{
    font-size: 12px;
    color: white;
}
.item18{
    padding-top: 20px;
    font-size: 12px;
}

@media screen and (max-width:667px) {
   .mainOne{
    /* width: 100vw; */
   }
}
